@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$purple-palette,900);
$my-accent: mat.define-palette(mat.$cyan-palette, A100);
$lighter-primary: mat.define-palette(mat.$deep-purple-palette, 200);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn:$lighter-primary
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

@include mat.all-component-themes($my-theme);

