<app-header></app-header>
<app-navbar></app-navbar>

<div class="container">
    <form>
      <div class="row">
        <h2>Create a new project!</h2>
      </div>
      <div class="row one">
        <div class="col-20">
          <label for="pname">Project name:</label>
        </div>
        <div class="col-80">
          <textarea id="projectname" name="name" placeholder="Write project name..."></textarea>
        </div>
      </div>
    <div class="row two">
      <div class="col-20">
        <label for="prodesc">Project description:</label>
      </div>
      <div class="col-80">
        <input type="text" id="pdescriptio" name="prodesc" placeholder="Write project description...">
      </div>
    </div>
    <br>
    <div class="row center-content">
      <input type="submit" value="Submit">
    </div>
    </form>
  </div>
  