$background: white;
$third-color: rgb(106, 8, 211);
$colortext: rgb(82, 60, 106);
$fontsize-no-active: 16px;
$fontsize-active: 19px;

$primary-color: rgba(122, 91, 156, 0.7) /*#D5C5E7*/;
$secondary-color: rgb(195, 195, 195) /*#2C0954*/;


.item {
  grid-column: 2;
  grid-row: 3;
  height: fit-content;
  width: auto;
  overflow: auto;
  top: 0px;
  background-color: #f2f2f2;
  bottom: 1px solid $primary-color;
  text-align: center;

  p {
    background-color: $colortext;
    color: white;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
  }

  table {
    height: auto;
    width: 100%;
    border-collapse: collapse;
    color: white;
    
    
    
    th {
      font-size: 17px;
      background-color: $colortext;
      text-align: center;
    }
    tr:hover {
      background-color: $secondary-color;
      color: black;
    }
    td {
      font-size: 17px;
      border-bottom: 1px solid $primary-color;
      color:white;
      background-color: $primary-color;
      text-align: center;
    }
  }
  
}
