<div class="grid-item item" style="color: purple;">
    <p>USERSTORY</p>
    <table cTable>
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let d of userstories">
          <td>{{d.id}}</td>
          <td>{{d.name}}</td>
          <td>{{d.username}}</td>
          <td>{{d.currentStage}}</td>
        </tr>
        
        <tr>
          <td>2</td>
          <td>Work</td>
          <td>VPavlik</td>
          <td>NEW</td>
        </tr>

        </tbody>
      </table>
</div>