        <div class="grid-item item">
            <div class="task"><p>MY OPEN TASKS</p></div>
            <table cTable>
                <thead>
                
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Description</th>
                    <th scope="col">Assignee</th>
                    <th scope="col">Status</th>
                  </tr>
                  
                </thead>
                <tbody>
                  <tr *ngFor="let task of mytasks">
                    <td>{{task.id}}</td>
                    <td>{{task.description}}</td>
                    <td>{{task.username}}</td>
                    <td>{{task.status}} </td>
                  </tr>
    
                  <tr>
                    <td>1</td>
                    <td>Make a presentation</td>
                    <td>VPavlik</td>
                    <td>In progress</td>
                  </tr>
                </tbody>
              </table>
  