/*$primary-color: #D5C5E7 ;
$secondary-color: #3B2158 ; //#2C0954;*/
$third-color: rgb(106, 8, 211);
$colortext: rgb(82, 60, 106);
$fontsize-no-active: 16px;
$fontsize-active: 19px;

$primary-color: rgba(82, 60, 106, 0.7) /*#D5C5E7*/;
$secondary-color: white /*#2C0954*/;
nav {
  position: fixed;
  top: 79.675px;
  left: 0;
  bottom: 0;
  width: 180px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 180px;
    height: 100%;
    background-color: $primary-color;
    flex-direction: column;

    li {
      flex: 1;
      a {
        display: block;
        color: $secondary-color;
        padding: 8px 16px;
        text-decoration: none;
        text-align: center;
        font-size: $fontsize-no-active;
        font-weight: bold;
      }

      a.active {
        background-color: $secondary-color;
        color: $colortext;
        font-size: $fontsize-active;
      }

      a:hover:not(.active) {
        background-color: $secondary-color;
        color: $colortext;
        font-size: $fontsize-active;
      }
    }
  }
}
