<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
    <li><a routerLink="/taskboard" routerLinkActive="active">Task board</a></li>
    <li><a routerLink="/myproject" routerLinkActive="active">My project</a></li>
    <li><a routerLink="/allprojects" routerLinkActive="active">All projects</a></li>
    <li><a routerLink="/newproject" routerLinkActive="active">New project</a></li>
    <li><a routerLink="/projectarchive" routerLinkActive="active">Project archive</a></li>
    <li><a routerLink="/listofusers" routerLinkActive="active">List of users</a></li>
  </ul>
</nav>

