<div class="content" fxLayout="row" fxLayoutAlign="space-around center">
  <div
    class="background-text"
    fxLayout="column"
    fxLayoutAlign="space-around center"
  >
    <div fxLayout="column" fxLayoutAlign="none center">
      <h1 fxLayout="column" fxLayoutAlign="none center">
        TaskTaskBoom
        <img
          src="../../assets/logo.png"
          class="logo"
          fxLayout="column"
          fxLayoutAlign="space-around center"
        />
      </h1>
    </div>
  </div>
  <div class="session">
    <form>
      <router-outlet></router-outlet>
    </form>
  </div>
</div>
