<div fxLayout="row" fxLayoutAlign="center" >

<mat-card >
  <mat-card-title fxLayoutAlign="center center">
    <h4><span>Create a Task</span></h4>
  </mat-card-title>
  <mat-card-content  fxLayout="column" fxLayoutAlign="space-around center" > 
    
    <form [formGroup]="createTaskFormGroup"  fxLayout="column" fxLayoutAlign="space-between stretch" >
      <div>Description:</div>
      <div class="floating-label"  fxLayout="column" fxLayoutAlign="start stretch">
        <input
          placeholder="Description"
          type="text"
          [formControlName]="'description'"
          fxLayout="column" fxLayoutAlign="start stretch" 
        />
      </div>
      
      <div class="floating-label" fxLayout="column" fxLayoutAlign="start stretch">
        <div>Priority:</div>
        <select id="priority" name="priority"  [formControlName]="'priority'" >
          <option value="" disabled selected>Select a priority</option>
          <option value="LOW" >Low</option>
          <option value="MEDIUM">Medium</option>
          <option value="HIGH">High</option>
        </select>
      </div>
      <div class="floating-label" fxLayout="column" fxLayoutAlign="start stretch">
        <div>User:</div>
        <select id="users" name="users"  [formControlName]="'user_id'" value="" >
          <option value="" disabled selected>Select an user</option>
          <option value="null">None</option>
          <option value="5">Filip K.</option>
          <option value="6">Ivan S.</option>
          <option value="8">Filip L.</option>
          <option value="7">Jurica J.</option>
          <option value="4">Veronika P.</option>
          <option value="9">Renato D.</option>
        </select>
      </div>
      <div  fxLayout="row" fxLayoutAlign="center center">
      <mat-card-actions>
        <button (click)="collectFormData()">Create</button>
      </mat-card-actions>
    </div>
    </form>
    
  </mat-card-content>
</mat-card>
</div>