$primary-color: rgba(82, 60, 106, 0.7) /*#D5C5E7*/;
$secondary-color: white /*#2C0954*/;

header {
  background-color: $primary-color;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-block: 0;
  position: sticky;
  img {
    margin-left: 10px;
    height: 40xp;
    width: 70px;
  }

  h1 {
    color: $secondary-color;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 20px;
    margin-top: 20px;
    margin-right: 10px;
    padding: 10px;
    color: $secondary-color;
  }

  a {
    font-weight: bold;
  }

  .dropdown-content {
    right: 0;
    margin-top: 10px;
    display: none;
    position: absolute;
    background-color: $primary-color;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .dropdown-content a {
    padding: 12px 16px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: $secondary-color;
    border: 0.5px solid $secondary-color;
    z-index: 1;
  }

  .dropdown-content a:hover {
    background-color: $secondary-color;
    color: $primary-color;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}
