<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav  #drawer class="sidenav"
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? (isNavOpen ? 'side' : 'over') : (isNavOpen ? 'side' : 'side')"
  [opened]="(isHandset$ | async) ? isNavOpen : true" 
  >
    <mat-nav-list class="nav">
      <a mat-list-item routerLink="/home/dashboard" routerLinkActive="active" style="color: white !important;">Dashboard</a>
      <a mat-list-item routerLink="/home/members" routerLinkActive="active">Members</a>
      <a mat-list-item routerLink="/home/link3" routerLinkActive="active">Link 3</a>
    </mat-nav-list>
    
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
