.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  position: fixed;
  top: 64px;
  left: 0;
  z-index: 1000;
}

.sidenav .mat-toolbar {
 background-color: lightcoral;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

