<div class="content" fxLayout="column" fxLayoutAlign="space-around center">
  <h4>Welcome to <span>TaskTaskBoom</span></h4>

  <form [formGroup]="registerFormGroup" fxLayout="column" fxLayoutAlign="space-around center">
    <div class="floating-label" fxLayoutAlign="space-between start" fxLayout="column">
      <div fxLayoutAlign="space-around start">
        <div fxLayoutAlign="center center">First Name:</div>
      </div>
      <input placeholder="First Name" type="text" [formControlName]="'firstName'" />
    </div>

    <div class="floating-label" fxLayoutAlign="space-between start" fxLayout="column">
      <div fxLayoutAlign="space-around start">
        <div fxLayoutAlign="center center">Last Name:</div>
      </div>
      <input placeholder="Last Name" type="text" [formControlName]="'lastName'" />
    </div>

    <div class="floating-label" fxLayoutAlign="space-between start" fxLayout="column">
      <div fxLayoutAlign="space-around start">
        <div fxLayoutAlign="center center">Username:</div>
      </div>
      <input placeholder="Username" type="text" [formControlName]="'username'" />
    </div>

    <div class="floating-label" fxLayoutAlign="space-between start" fxLayout="column">
      <div fxLayoutAlign="space-around start">
        <div fxLayoutAlign="center center">Password:</div>
      </div>
      <input placeholder="Password" type="password" [formControlName]="'password'" />
    </div>

    <div class="floating-label" fxLayoutAlign="space-between start" fxLayout="column">
      <div fxLayoutAlign="space-around start">
        <div fxLayoutAlign="center center">Confirm Password:</div>
      </div>
      <input placeholder="Confirm Password" type="password" [formControlName]="'confirmPassword'" />
    </div>

    <button fxLayout="column" fxLayoutAlign="center center" (click)="collectFormData()">Register Account</button>

    <div class="register">
      <a mat-button routerLink="/login">Already have an account?</a>
    </div>
  </form>
</div>
